{% load static %}

<div class="small-container single-product">
    <div class="row">

        {% load static %}

        {% if product %}
        <div class="small-container single-product">
            <div class="row">

                <!-- Product Image -->
                <div class="col-2">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" width="100%" id="ProductImg">
                    {% else %}
                        <img src="{% static 'images/gallery-1.jpg' %}" width="100%" id="ProductImg">
                    {% endif %}

                    <div class="small-img-row">
                        {% for img in product.gallery_images %}
                            <div class="small-img-col">
                                {% if img.url %}
                                    <img src="{{ img.url }}" width="100%" class="small-img">
                                {% else %}
                                    {# assume img is a static path string #}
                                    <img src="{% static img %}" width="100%" class="small-img">
                                {% endif %}
                            </div>
                        {% empty %}
                            {% if product.image %}
                                <div class="small-img-col"><img src="{{ product.image.url }}" width="100%" class="small-img"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Product Info -->
<div class="col-2">
    <p>Home / {{ product.title }}</p>
    <h1>{{ product.name }}</h1>
    <h4>${{ product.price }}</h4>

    <form method="POST" action="{% url 'add_to_cart'  %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">

        <label for="size">Select Size</label>


        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" value="1" min="1" required>

        <button type="submit" class="btn">Add To Cart</button>
    </form>

    <h3>Product Details <i class="fa fa-indent"></i></h3>
    <br>
    <p>{{ product.description }}</p>
</div>

            </div>
        </div>

        <!-- Image Zoom Script -->
        <script>
            var ProductImg = document.getElementById("ProductImg");
            var SmallImgs = document.getElementsByClassName("small-img");

            for (let i = 0; i < SmallImgs.length; i++) {
                SmallImgs[i].onclick = function() {
                    ProductImg.src = this.src;
                }
            }
        </script>

        {% else %}

        {# Static fallback when no product is provided in context #}
        <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/gallery-1.jpg' %}" width="100%" id="ProductImg">

                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="{% static 'images/gallery-1.jpg' %}" width="100%" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{% static 'images/gallery-2.jpg' %}" width="100%" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{% static 'images/gallery-3.jpg' %}" width="100%" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{% static 'images/gallery-4.jpg' %}" width="100%" class="small-img">
                        </div>
                    </div>

                </div>
                <div class="col-2">
                    <p>Home / T-Shirt</p>
                    <h1>Red Printed T-Shirt by HRX</h1>
                    <h4>$50.00</h4>
                    <select>
                        <option>Select Size</option>
                        <option>XXL</option>
                        <option>XL</option>
                        <option>L</option>
                        <option>M</option>
                        <option>S</option>
                    </select>
                    <input type="number" value="1">
                    <a href="" class="btn">Add To Cart</a>

                    <h3>Product Details <i class="fa fa-indent"></i></h3>
                    <br>
                    <p>Give your summer wardrobe a style upgrade with the HRX Men's Active T-Shirt. Team it with a pair of
                        shorts for your morning workout or a denims for an evening out with the guys.</p>
                </div>
            </div>
        </div>

        <script>
            var ProductImg = document.getElementById("ProductImg");
            var SmallImgs = document.getElementsByClassName("small-img");

            for (let i = 0; i < SmallImgs.length; i++) {
                SmallImgs[i].onclick = function() {
                    ProductImg.src = this.src;
                }
            }
        </script>

        {% endif %}
